.header{
 display: flex;
 flex-direction: column;
 background-color: darkcyan;
 width: 600px;
 height: auto;
 font-size: 1.2em;
 align-items: center;
 justify-content: center;
}

.resumeContainer{
 display: flex;
 flex-direction: column;
}
.headerItems{
 display: flex;
 gap: 5px;
 font-size: 1.1em;
}